<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min1.10.2.js}" src="../static/js/jquery.min1.10.2.js"></script>
    <link th:href="@{/js/bootstrap3/css/bootstrap.css}" href="../static/js/bootstrap3/css/bootstrap.css"
          rel="stylesheet"/>
    <link th:href="@{/js/bootstrap-table/bootstrap-table.css}" href="../static/js/bootstrap-table/bootstrap-table.css"
          rel="stylesheet"/>
    <script th:src="@{/js/bootstrap-table/bootstrap-table.js}"
            src="../static/js/bootstrap-table/bootstrap-table.js"></script>
    <script th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"
            src="../static/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script th:src="@{/js/bootstrap3/js/bootstrap.js}" src="../static/js/bootstrap3/js/bootstrap.js"></script>
    <script th:src="@{/js/bootstrap-bootbox/bootbox.js}" src="../static/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div class="alert alert-warning alert-dismissible" role="alert">
    <a href="../user/toAaa">返回</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong></strong>如果您收到的商品发现少了，为了保障您的利益，建议您保留好相关凭证，并立即联系门店客服人员，协商补发事项，如需退款打开手机app-我的-到家订单申请退款，我们将于2个小时内退还您相应的商品金额。

</div>
</body>
</html>