<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min1.10.2.js}" src="../static/js/jquery.min1.10.2.js"></script>
    <link th:href="@{/js/bootstrap3/css/bootstrap.css}" href="../static/js/bootstrap3/css/bootstrap.css"
          rel="stylesheet"/>
    <link th:href="@{/js/bootstrap-table/bootstrap-table.css}" href="../static/js/bootstrap-table/bootstrap-table.css"
          rel="stylesheet"/>
    <script th:src="@{/js/bootstrap-table/bootstrap-table.js}"
            src="../static/js/bootstrap-table/bootstrap-table.js"></script>
    <script th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"
            src="../static/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script th:src="@{/js/bootstrap3/js/bootstrap.js}" src="../static/js/bootstrap3/js/bootstrap.js"></script>
    <script th:src="@{/js/bootstrap-bootbox/bootbox.js}" src="../static/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<body>
<div style="height: 100px;width: 300px"><img src="../js/login2_files/img.jpg" width="1530px" height="720px"></div>
<div class="container" >
    <div class="row" style="margin-top: 15%">
        <div class="col-md-4 col-md-offset-7">
            <form id="loginForm" class="form-horizontal" >
                <div class="form-group">

                    <div class="col-sm-4 col-md-offset-9" >

                        <a href="../user/toLogin">账号登陆</a>
                    </div>

                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label"><i class="glyphicon  glyphicon-user"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入昵称 ">

                    </div>
                 </div>
                <div class="form-group">
                    <label for="inputuserphone" class="col-sm-2 control-label"><i class="glyphicon  glyphicon-phone"></i></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputuserphone" name="useriphone" onblur="checkUser()" placeholder="请输入手机号码">

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputuserPassword" class="col-sm-2 control-label"><i class="glyphicon  glyphicon-lock"></i></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputuserPassword" name="userpassword" placeholder="请输入密码">

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">

                        <button  onclick="register()" type="submit" class="btn btn-warning btn-block">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    function  checkUser(){
        var  useriphone = $("input[name='useriphone']").val()
            $.ajax({

                url:'../user/checkUser',
                data:{useriphone:useriphone},
                success:function(data){

                    if(data  == "aail"){
                        alert("该手机号已注册，请直接登陆")
                    }else{

                    }

                }
            })



    }


    function  register(){

        $.ajax({
            url:'../user/register',
            data:$("#loginForm").serialize(),
            type:'post',
            success:function(data){
                location.href = '../user/toLogin'
            }
        })

    }

</script>
</html>