
<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>b.2 商品详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{/resources/css/jquery-ui-themes.css}" href="../static/resources/css/jquery-ui-themes.css"/>
    <link th:href="@{/resources/css/axure_rp_page.css}"  href="../static/resources/css/axure_rp_page.css" />
    <link th:href="@{/data/styles.css}"  href="../static/data/styles.css" />
    <link th:href="@{/files/b_2_商品详情/styles.css}"  href="../static/files/b_2_商品详情/styles.css" />
    <script th:src="@{/resources/scripts/jquery-1.7.1.min.js}"  src="../static/resources/scripts/jquery-1.7.1.min.js"></script>
    <script th:src="@{/resources/scripts/jquery-ui-1.8.10.custom.min.js}"  src="../static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script th:src="@{/resources/scripts/axure/axQuery.js}"  src="../static/resources/scripts/axure/axQuery.js"></script>
    <script th:src="@{/resources/scripts/axure/globals.js}"  src="../static/resources/scripts/axure/globals.js"></script>
    <script th:src="@{/resources/scripts/axutils.js}"  src="../static/resources/scripts/axutils.js"></script>
    <script th:src="@{/resources/scripts/axure/annotation.js}"  src="../static/resources/scripts/axure/annotation.js"></script>
    <script th:src="@{/resources/scripts/axure/axQuery.std.js}"  src="../static/resources/scripts/axure/axQuery.std.js"></script>
    <script th:src="@{/resources/scripts/axure/doc.js}"  src="../static/resources/scripts/axure/doc.js"></script>
    <script th:src="@{/data/document.js}"  src="../static/data/document.js"></script>
    <script th:src="@{/resources/scripts/messagecenter.js}"  src="../static/resources/scripts/messagecenter.js"></script>
    <script th:src="@{/resources/scripts/axure/events.js}"  src="../static/resources/scripts/axure/events.js"></script>
    <script th:src="@{/resources/scripts/axure/recording.js}"  src="../static/resources/scripts/axure/recording.js"></script>
    <script th:src="@{/resources/scripts/axure/action.js}"  src="../static/resources/scripts/axure/action.js"></script>
    <script th:src="@{/resources/scripts/axure/expr.js}"  src="../static/resources/scripts/axure/expr.js"></script>
    <script th:src="@{/resources/scripts/axure/geometry.js}"  src="../static/resources/scripts/axure/geometry.js"></script>
    <script th:src="@{/resources/scripts/axure/flyout.js}"  src="../static/resources/scripts/axure/flyout.js"></script>
    <script th:src="@{/resources/scripts/axure/ie.js}"  src="../static/resources/scripts/axure/ie.js"></script>
    <script th:src="@{/resources/scripts/axure/model.js}"  src="../static/resources/scripts/axure/model.js"></script>
    <script th:src="@{/resources/scripts/axure/repeater.js}"  src="../static/resources/scripts/axure/repeater.js"></script>
    <script th:src="@{/resources/scripts/axure/sto.js}"  src="../static/resources/scripts/axure/sto.js"></script>
    <script th:src="@{/resources/scripts/axure/utils.temp.js}"  src="../static/resources/scripts/axure/utils.temp.js"></script>
    <script th:src="@{/resources/scripts/axure/variables.js}"  src="../static/resources/scripts/axure/variables.js"></script>
    <script th:src="@{/resources/scripts/axure/drag.js}"  src="../static/resources/scripts/axure/drag.js"></script>
    <script th:src="@{/resources/scripts/axure/move.js}"  src="../static/resources/scripts/axure/move.js"></script>
    <script th:src="@{/resources/scripts/axure/visibility.js}"  src="../static/resources/scripts/axure/visibility.js"></script>
    <script th:src="@{/resources/scripts/axure/style.js}"  src="../static/resources/scripts/axure/style.js"></script>
    <script th:src="@{/resources/scripts/axure/adaptive.js}"  src="../static/resources/scripts/axure/adaptive.js"></script>
    <script th:src="@{/resources/scripts/axure/tree.js}"  src="../static/resources/scripts/axure/tree.js"></script>
    <script th:src="@{/resources/scripts/axure/init.temp.js}"  src="../static/resources/scripts/axure/init.temp.js"></script>
    <script th:src="@{/files/b_2_商品详情/data.js}"  src="../static/files/b_2_商品详情/data.js"></script>
    <script th:src="@{/resources/scripts/axure/legacy.js}"  src="../static/resources/scripts/axure/legacy.js"></script>
    <script th:src="@{/resources/scripts/axure/viewer.js}"  src="../static/resources/scripts/axure/viewer.js"></script>
    <script th:src="@{/resources/scripts/axure/math.js}"  src="../static/resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return '../static/resources/../../images//transparent.gif'; };
        $axure.utils.getOtherPath = function() { return '../static/resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return '../static/resources/reload.html'; };
    </script>
</head>
<body>
<input type="hidden" id="roles" value="${id}">
<center>
<div id="u4832" class="ax_default image">
 <!--   <img id="u4832_img" class="img " src="../images//b_分类/u1992.png"/>-->
   <!-- &lt;!&ndash; Unnamed () &ndash;&gt;-->
    <div id="u4833" class="text" style="display:none; visibility: hidden">
        <p><span></span></p>
    </div>
</div>
    <!-- Unnamed (矩形) -->
    <div id="u4837" class="ax_default label">
        <div id="u4835_div" class=""></div>
        <!--   &lt;!&ndash; Unnamed () &ndash;&gt;-->
        <div id="u4836" class="text">
            <p><span></span></p>
        </div>
    </div>

                <!-- Unnamed (矩形) -->
                    <div id="u4835" class="text">
                    </div>

</center>
</body>
<script>
    $(function (){
      queryshangp();
    })
    function queryshangp(){
        var arr =[[${id}]];
        $.ajax({
            url:"../commod/queryshangp?id="+arr,
            type:"post",
            success:function (data) {
                var atl = "../";
          $("#u4836").html(data[0].commodityname);
          atl+=data[0].commodityimg;
          var jag = "价格：";
                jag += data[0].commoprice;
                jag+="元";
                $("#u4832").html("<img id='u301_img' class='img' src='"+atl+"' height='300' width='300'/>");
                $("#u4835").html(jag);
            }
        })
    }
</script>
</html>
