<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserModelMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.UserModel" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="userphone" property="userphone" jdbcType="VARCHAR" />
    <result column="userpassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userimg" property="userimg" jdbcType="VARCHAR" />
    <result column="menber" property="menber" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="jifen" property="jifen" jdbcType="VARCHAR" />
    <result column="addressjibie" property="addressjibie" jdbcType="INTEGER" />
    <result column="yue" property="yue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, useriphone, userpassword, username, userimg, menber, address, jifen, addressjibie,
    yue
  </sql>



  <insert id="register" parameterType="com.jk.model.UserModel" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="useriphone != null" >
        useriphone,
      </if>
      <if test="userpassword != null" >
        userpassword,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userimg != null" >
        userimg,
      </if>
      <if test="member != null" >
        member,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="jifen != null" >
        jifen,
      </if>
      <if test="addressjibie != null" >
        addressjibie,
      </if>
      <if test="yue != null" >
        yue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="useriphone != null" >
        #{useriphone,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null" >
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userimg != null" >
        #{userimg,jdbcType=VARCHAR},
      </if>
      <if test="member != null" >
        #{member,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="jifen != null" >
        #{jifen,jdbcType=VARCHAR},
      </if>
      <if test="addressjibie != null" >
        #{addressjibie,jdbcType=INTEGER},
      </if>
      <if test="yue != null" >
        #{yue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


</mapper>